@font-face {
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}



.logo{
    font-family: 'Norse Bold', sans-serif;
    background: url(./mountain.jpeg) no-repeat;
    background-size: cover;
    flex-basis: min(33vw, 600px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.logo > div{
    background: hsl(0, 0%, 0%, 0.5);
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    position: relative;
    top: 20%;
}
.logo>div>img{
    height: 70%;
    position: relative;
    left: -10%;
}
img ~ span::after{
    content: 'ODIN';
    display: block;
    color: white;
    font-size: 4rem;
    position: relative;
    left: -10%;
}



main{
    flex-basis: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh 10vh 10vh 5vh;
}
.statement:first-child h3{
    padding: 1rem;
}