@font-face {
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);

}
:root{
    --btnColor: #596D48;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    background: lightgrey;

}



.logo{
    font-family: 'Norse Bold', sans-serif;
    background: url(./mountain.jpeg) no-repeat;
    background-size: cover;
    flex-basis: min(33vw, 600px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.logo > div{
    background: hsl(0, 0%, 0%, 0.5);
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    position: relative;
    top: 20%;
}
.logo>div>img{
    height: 70%;
    position: relative;
    left: -10%;
}
img ~ span::after{
    content: 'ODIN';
    display: block;
    color: white;
    font-size: 4rem;
    position: relative;
    left: -10%;
}
/* used to center info */
main{
    height: 100vh;
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;

}

.statement{
    max-width: 1000px;
}
.statement > * {
    margin-left: 3rem;
    padding: 0 0 3rem 0;
    font-size: 22px;
}

/* used to extend the white background to the edge, and add height to container */
form{
    background: white;
    width: calc(100vw - min(33vw, 600px));
    flex: 0 1 400px;

}
.formContainer{
    margin-left: 1rem;
    max-width: 1000px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.formContainer h2{
    flex-basis: 100%;
    margin-bottom: 2rem;
}

.input> *{
    display: block;
    width: calc(500px - 6rem);
}
input{
    padding-top:.5rem ;
    padding-bottom:.5rem ;
    font-size: 1.25rem;
}


aside{
    margin: 1rem auto 20% 2rem;
}
aside > * {
    margin: 1rem;
}
#createAccount{
    padding: .8rem 3rem;
    background: var(--btnColor);
    color: white;
    border-radius: .7rem;
    border: none;
    font-size: 2rem;
}
p > a {
    color: var(--btnColor);
    text-decoration: none;
    font-weight: bold;
}

